body {
  text-align: center;
  background-color: #011F3F;
  margin: 0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#subtitles {
  padding: 20px;
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 1.2rem;
  color: #FEF2BF;
}

#start {
  background-color: #fff;
  border: solid 10px black;
  border-radius: 50%;
  display: block;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
  text-align: center;
  padding: 0;
  position: relative;
  top: 172px;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  position: relative;
  bottom: 150px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.footer {
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 2rem;
  background-color: purple;
  color: #fff;
  width: 100%;
  margin: 0;
  position: relative;
  bottom: 0;
}

p {
  margin: 0;
}
